{{page-title "History"}}

<div class="container p-8 sm:p-0 mx-auto">
  <div class="sm:p-12 sm:m-12">
    <h1 class="text-3xl text-center mb-8">Work Experience</h1>
    <div class="flex-col relative py-12">
      <div class="invisible lg:visible bg-red-200 h-full w-1 absolute left-0 right-0 top-0 m-auto"></div>

      <div class="flex flex-col lg:flex-row">
        <div class="flex flex-col flex-1 bg-white dark:bg-gray-700 lg:mr-8 mb-12 relative">
          <Ui::InViewport as |vp|>
            <div class="invisible lg:visible w-8 h-1 bg-red-200 right-0 top-0 bottom-0 my-auto absolute -mr-8"></div>
            <div class="bg-red-400 h-1 w-full"></div>
            <div class="flex flex-col p-8">
              <div class="text-center text-red-400 font-bold text-sm mb-4">
                2016 - Current
              </div>
              <div class="font-bold text-sm text-center mb-2">
                Blackbell
              </div>
              <div class="text-sm text-center mb-4">
                Front-end developer
              </div>
              <div class="text-sm mb-8">
                Worked as part of a multi-disciplinary team, carrying out ad-hoc tasks as requested by the IT Manager. Had a specific brief to ensure the websites build for customer’s precisely matched their requirements.developers and marketers.
              </div>
              <div class="flex flex-row text-sm text-white flex-wrap">
                <span class="px-2 py-1 border-b-2 bg-red-400 mr-2 mb-2">Ember.js</span>
                <span class="px-2 py-1 border-b-2 bg-red-400 mr-2 mb-2">Ember Data</span>
                <span class="px-2 py-1 border-b-2 bg-red-400 mr-2 mb-2">Fastboot/SSR</span>
                <span class="px-2 py-1 border-b-2 bg-red-400 mr-2 mb-2">Push Notifications</span>
                <span class="px-2 py-1 border-b-2 bg-red-400 mr-2 mb-2">Deploy</span>
                <span class="px-2 py-1 border-b-2 bg-red-400 mr-2 mb-2">SCSS</span>
                <span class="px-2 py-1 border-b-2 bg-red-400 mr-2 mb-2">React</span>
                <span class="px-2 py-1 border-b-2 bg-red-400 mr-2 mb-2">React Native</span>
                <span class="px-2 py-1 border-b-2 bg-red-400 mr-2 mb-2">JSON/REST API</span>
              </div>
            </div>
          </Ui::InViewport>
        </div>

        <div class="flex flex-col flex-1 bg-white dark:bg-gray-700  lg:ml-8 mb-12 lg:mb-0 lg:mt-12 relative">
          <div class="invisible lg:visible w-8 h-1 bg-red-200 left-0 top-0 bottom-0 my-auto absolute -ml-8"></div>
          <div class="bg-red-400 h-1 w-full"></div>
          <div class="flex flex-col p-8">
            <div class="text-center text-red-400 font-bold text-sm mb-4">
              2014 - 2018
            </div>
            <div class="font-bold text-sm text-center mb-2">
              Ticketmaster
            </div>
            <div class="text-sm text-center mb-4">
              Front-end developer
            </div>
            <div class="text-sm mb-8">
              Worked as part of a multi-disciplinary team, carrying out ad-hoc tasks as requested by the IT Manager. Had a specific brief to ensure the websites build for customer’s precisely matched their requirements.developers and marketers.
              Worked as part of a multi-disciplinary team, carrying out ad-hoc tasks as requested by the IT Manager.
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row">
        <div class="flex flex-col flex-1 bg-white dark:bg-gray-700 lg:mr-8 mb-12 relative">
          <div class="invisible lg:visible w-8 h-1 bg-red-200 right-0 top-0 bottom-0 my-auto absolute -mr-8"></div>
          <div class="bg-red-400 h-1 w-full"></div>
          <div class="flex flex-col p-8">
            <div class="text-center text-red-400 font-bold text-sm mb-4">
              2014 - 2018
            </div>
            <div class="font-bold text-sm text-center mb-2">
              Ticketmaster
            </div>
            <div class="text-sm text-center mb-4">
              Front-end developer
            </div>
            <div class="text-sm mb-8">
              Worked as part of a multi-disciplinary team, carrying out ad-hoc tasks as requested by the IT Manager. Had a specific brief to ensure the websites build for customer’s precisely matched their requirements.developers and marketers.
            </div>
          </div>
        </div>

        <div class="flex flex-col flex-1 bg-white dark:bg-gray-700 lg:ml-8 mb-12 lg:mb-0 lg:mt-12 relative">
          <div class="invisible lg:visible w-8 h-1 bg-red-200 left-0 top-0 bottom-0 my-auto absolute -ml-8"></div>
          <div class="bg-red-400 h-1 w-full"></div>
          <div class="flex flex-col p-8">
            <div class="text-center text-red-400 font-bold text-sm mb-4">
              2014 - 2018
            </div>
            <div class="font-bold text-sm text-center mb-2">
              Ticketmaster
            </div>
            <div class="text-sm text-center mb-4">
              Front-end developer
            </div>
            <div class="text-sm mb-8">
              Worked as part of a multi-disciplinary team, carrying out ad-hoc tasks as requested by the IT Manager. Had a specific brief to ensure the websites build for customer’s precisely matched their requirements.developers and marketers.
            </div>
          </div>
        </div>
      </div>


      <div class="flex flex-col lg:flex-row">
        <div class="flex flex-col flex-1 bg-white dark:bg-gray-700 lg:mr-8 mb-12 relative">
          <Ui::InViewport as |vp|>
            {{log vp.isLoaded}}
            <div class="invisible lg:visible w-8 h-1 bg-red-200 right-0 top-0 bottom-0 my-auto absolute -mr-8"></div>
            <div class="bg-red-400 h-1 w-full"></div>
            <div class="flex flex-col p-8">
              <div class="text-center text-red-400 font-bold text-sm mb-4">
                2014 - 2018
              </div>
              <div class="font-bold text-sm text-center mb-2">
                Ticketmaster
              </div>
              <div class="text-sm text-center mb-4">
                Front-end developer
              </div>
              <div class="text-sm mb-8">
                Worked as part of a multi-disciplinary team, carrying out ad-hoc tasks as requested by the IT Manager. Had a specific brief to ensure the websites build for customer’s precisely matched their requirements.developers and marketers.
              </div>
            </div>
          </Ui::InViewport>
        </div>

        <div class="flex flex-col flex-1 bg-white dark:bg-gray-700 lg:ml-8 mb-12 lg:mb-0 lg:mt-12 relative">
          <div class="invisible lg:visible w-8 h-1 bg-red-200 left-0 top-0 bottom-0 my-auto absolute -ml-8"></div>
          <div class="bg-red-400 h-1 w-full"></div>
          <div class="flex flex-col p-8">
            <div class="text-center text-red-400 font-bold text-sm mb-4">
              2014 - 2018
            </div>
            <div class="font-bold text-sm text-center mb-2">
              Ticketmaster
            </div>
            <div class="text-sm text-center mb-4">
              Front-end developer
            </div>
            <div class="text-sm mb-8">
              Worked as part of a multi-disciplinary team, carrying out ad-hoc tasks as requested by the IT Manager. Had a specific brief to ensure the websites build for customer’s precisely matched their requirements.developers and marketers.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
